<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="/src/input.css">
</head>
<body class="bg-bam flex font-montserrat items-center justify-center min-h-screen text-sm" id="container">
    <div class="bg-white p-8 py-10 rounded-lg shadow-2xl w-full max-w-md" id="container-login">
        <div class="flex justify-center mb-8">
        <img class="w-40 h-40" src="/img/PQSWIM_dkpeach_MEDIUM.jpg" alt="Imagen">
        </div>
        <form action="#" method="POST">
          <div class="mb-10">
            <label for="generic-user" class="block text-sm text-gray-700" id="user">User</label>
            <input type="text" id="user" name="user" required class=" block border-b-2 border-gray-400 focus:border-red-200 focus:outline-none w-full py-2">
          </div>
          <div class="mb-6">
            <label for="generic-password" class="block text-sm text-gray-700" id="password">Password</label>
            <input type="password" id="password" name="password" required class="block border-b-2 border-gray-400 focus:border-red-200 focus:outline-none w-full py-2">
          </div>
          <br>
          <div class="flex items-center justify-center mt-10 mb-6">
            <button type="button" id="loginButton" class="bg-bim text-white rounded transform hover:scale-105 motion-reduce:transform-none w-3/4 py-2 transition duration-100 delay-100 ">Login</button>
          </div>
        </form>
    </div>
    
</body>
</html>
